<h1>Add a new bookmark to <%= @list.name %></h1>

<%= form_with model: @bookmark, url: list_bookmarks_path(@list), local: true do |f| %>
  <div class="form-group">
    <%= f.label :movie_id, 'Select a movie' %>
    <%= f.collection_select :movie_id, Movie.all, :id, :title, prompt: 'Choose a movie', class: 'form-control' %>
  </div>

  <%= f.submit 'Add Bookmark', class: 'btn btn-success' %>
<% end %>
 <%= link_to "back to list", new_list_path %>
